html 
  head 
    body
      h1 Feels Tracker
      h2 Which emotion are you feeling? 
      form(
        action='/',
        method='POST'
      )
        select(name='emotion')
          each emotion in emotions
            option=emotion
        input(
          type='submit',
          value='Submit'
        )
      h3 Your Emotional History:
      each index, val in userEmotions
        ul 
          li=val 
          each date in index
            ul 
              li=date
          