html 
  head 
    body
      h1 Feels Tracker 
      h2 Which Emotion Are You Feeling?
        form(
          action="/"
          method="POST"
        )
          svg(
            class="plutchiks_wheel"
            height="50%"
            width="50%"
            )

            circle(
              id=""
              cx="50%"
              cy="12.5%"
              r="12.5%"
              fill="red"
            )